{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}About page{% endblock %}
{% block body_block %}
    <h1>About page</h1>
    This tutorial has been put together by <strong>{{ bmess }}</strong><br />
    <button class="btn btn-primary" id="about-btn">CLick me</button>
    <p>This text is for a JQuery Example</p>
    <div id="msg">Hello - I'm here for a JQuery Example too</div>
    <img src="{% static "images/rango.jpg" %}" alt="Rango" />
    <img src="{{ MEDIA_URL }}cat.jpg" alt="Mew" />
    <br />Number visits: {{ visits }}
{% endblock %}