{% extends 'rango/base.html' %}
{% block title_block %}Add page{% endblock %}
{% block body_block %}
    {% if category %}
        <h1>Add page into "{{ category }}"</h1>
        <form role="form" id="page_form" method="POST" action="{% url 'rango:add_page' category.slug %}">
            <h2 class="form-signin-heading">Add a page to <a href="{% url 'rango:category' category.slug %}">{{category.name }}</a></h2>
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
                {{ field.help_text }}<br />
                {{ field }}<br />
            {% endfor %}
                <br />
                <button class="btn btn-primary" type="submit" name="submit">Add page</button>
            </form>
    {% else %}
    <p>Request category doesn't exist for add page</p>
    {% endif %}
{% endblock %}