{% extends 'rango/base.html' %}
{% load bootstrap_toolkit %}
{% block title_block %}Add category{% endblock %}
{% block body_block %}
    <h1>Add category</h1>
    <form role="form" id="category_form" method="POST" action="{% url 'rango:add_category' %}">
        <h2 class="form-signin-heading">Add category</h2>
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <br />
        <button class="btn btn-primary" type="submit" name="submit">Add category</button>
    </form>
{% endblock %}