{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}{{ category.name }}{% endblock %}
{% block body_block %}
    {% if category %}
        <h1>{{ category_name }}</h1>
        <div>
            <strong id="like_count">{{ category.likes }}</strong> people like this category
        {% if user.is_authenticated %}
            <button id="likes" data-catid="{{category.id}}" class="btn btn-priary btn-sm" type="button">Like</button>
        {% endif %}
        </div>
        {% if pages %}
        <div id="pages">
            <ul>
                {% for page in pages %}
                    <li>
                        <a href="{% url 'rango:goto' %}?page_id={{ page.id }}">{{ page.title }}</a>
                        {% if page.views > 1 %}
                            ({{ page.views }} views)
                        {% elif page.views == 1 %}
                            ({{ page.views }} view)
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
            <strong>Not pages in currently in category</strong>
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'rango:add_page' category.slug %}">Add page in current the category</a>
        {% endif %}
        <div>
            <form class="form-inline" id="user_form" method="POST" action="{% url 'rango:category' category.slug %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="query" class="form-control" value="{{ query }}" id="query" size="50">
                    </div>
                    <button class="btn btn-primary" type="submit" name="submit" value="Search">Search</button>
            </form>
            {% if results %}
                <div>
                    <h3>Results</h3>
                    <div class="list-group">
                        {% for result in results %}
                        <div class="list-group-item">
                            <h4 class="list-group-heading">
                                <a href="{{ result.link }}">{{ result.title }}</a>
                            {% if user.is_authenticated %}
                                <button data-catid="{{ category.id }}" data-title="{{ result.title }}" data-url="{{ result.link }}" class="rango-add btn btn-info btn-sm" type="button">Add</button>
                            {% endif %}
                            </h4>
                            <p class="list-group-item-text">{{ result.snippet }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
        </div>
    {% else %}
        <strong>Specified category {{ category_name }} doesn't exist!</strong>
    {% endif %}
{% endblock %}