<ul class="list-group">
    {% if cats %}
        {% for c in cats %}
            {% if c == act_cat %}
                <li class="list-group-item list-group-item-success">
                    <a href="{% url 'rango:category' c.slug %}">{{ c.name }}</a>
                </li>
            {% else %}
                <li class="list-group-item list-group-item-action">
                    <a href="{% url 'rango:category' c.slug %}">{{ c.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li><strong>There are no categories for present</strong></li>
    {% endif %}
</ul>