{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}Index{% endblock %}
{% block body_block %}
<div class="jumbotron">
    <h1 class="display-3">Rango says</h1>
    {% if user.is_authenticated %}
        <h1>howdy {{ user.username }}!</h1>
    {%else %}
        <h1>hey there partner!</h1>
    {% endif %}
</div>
<div class="row marketing">
    <div class="col-lg-6">
        <h4>Most Liked Categories</h4>
        <p>
        {% if categories %}
            <ul class="list-group">
            {% for category in categories %}
                <li class="list-group-item  list-group-item-action justify-content-between"><a href="{% url 'rango:category' category.slug %}">{{ category.name }}</a>
                <span class="badge badge-default badge-pill">{{ category.likes }}</span>
                </li>

            {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present!</strong>
        {% endif %}
        </p>
    </div>
    {% if top_pages %}
    <div class="col-lg-6">
        <h4>Top five of pages</h4>
        <p>
            <ul class="list-group">
            {% for page in top_pages %}
                <li class="list-group-item list-group-item-action"><a href="{% url 'rango:goto' %}?page_id={{page.id}}">{{ page.title }} (Views: {{ page.views }})</a></li>
            {% endfor %}
            </ul>
        </p>
    </div>
    {% endif %}
</div><br>
    Your visits of days on this site: {{ visits }}
{% endblock %}