{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}List of profiles{% endblock %}
{% block body_block %}
    <h1>User profiles</h1>
    <div class="panel">
    {% if userprofile_list %}
        <div class="panel-heading">
            <div class="panel-body">
                <div class="list-group">
                {% for listuser in userprofile_list %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                        {% if listuser.picture %}
                            <img src="{{ MEDIA_URL }}{{ listuser.picture }}" width="64" height="64" alt="Avatar for {{ listuser.user.username }}" />
                        {% else %}
                            <img width="64" height="64" src="http://lorempixel.com/64/64/people/" alt="Avatar for {{ listuser.user.username }}" />
                        {% endif %}
                            <a href="{% url 'rango:profile' listuser.user.username %}">{{ listuser.user.username }}</a>
                        </h4>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <p>There are no user for the site.</p>
    {% endif %}
    </div>
{% endblock %}