{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}Login{% endblock %}
{% block body_block %}
    <h1>Login to site</h1>
    {% if error %}
        <ul style="color:red;">
            <li>{{ error }}</li>
        </ul>
    {% endif %}
    <form id="login_form" method="POST" action="{% url 'rango:login' %}">
        {% csrf_token %}
        <p>
            Login: <input type="text" name="username" value="" size="20" /><br />
        </p>
        <p>
            Password: <input type="password" name="password" value="" size="20" /><br />
        </p>
        <p>
            <input type="submit" name="submit" value="Sign in" />
        </p>
    </form>
{% endblock %}