{% extends 'rango/base.html' %}
{% load bootstrap_toolkit %}
{% block title_block %}Registration - Step 2{% endblock %}
{% block body_block %}
    <h1>Registration - Step 2</h1>
    <form enctype="multipart/form-data" method="POST" action=".">
        {% csrf_token %}
        <div class="form-group">
            {{ form|as_bootstrap }}
            <br />
            <button class="btn btn-primary" type="submit" name="submit">Submit</button>
        </div>
    </form>
{% endblock %}