{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}{{ selecteduser.username }}{% endblock %}
{% block body_block %}
    <h1>{{ selecteduser.username }} Profile</h1>
    <img src="{{ MEDIA_URL }}{{ userprofile.picture }}" width="300" height="300" alt="{{selecteduser.username }}" />
    <br />
    <div>
        {% if selecteduser.username == user.username %}
            <form class="form-signin" method="POST" enctype="multipart/form-data" action=".">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="brn brn-primary" type="submit" name="submit">Update</button>
            </form>
        {% elif userprofile.website %}
            <p>
                <strong>Website:</strong>&nbsp;<a href="{{ userprofile.website }}" rel="noindex">{{ userprofile.website }}</a>
            </p>
        {% endif %}
    </div>
{% endblock %}