{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}Register{% endblock %}

{% block body_block %}
    <h1>Register page</h1>
    {% if registered %}
        <strong>Tnank you for registration!</strong><br />
        <a href="{% url 'rango:index' %}">Return to main page</a>
    {% else %}
        <strong>Registration form</strong>
        <form id="user_id" action="{% url 'rango:register' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ user_form.as_table }}
                {{ profile_form.as_table }}
            <tr><td colspan="2" align="center"><input type="submit" name="submit" value="Register"></td></tr>
            </table>
        </form>
    {% endif %}
{% endblock %}