{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}Restricted area{% endblock %}
{% block body_block %}
    <h1>Restricted page</h1>
    <p style="color: green;">You're in restricted page!</p>
    <strong>Good luck!</strong><br />
    <a href="{% url 'auth_password_change' %}">Change yourself password</a>
{% endblock %}