{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}Search{% endblock %}
{% block body_block %}
<div>
    <h1>Search on web</h1>
    <br />
    <form class="form-inline" id="user_form" method="POST" action="{% url 'rango:search' %}">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="query" class="form-control" value="{{ query }}" id="query">
        </div>
        <button class="btn btn-primary" type="submit" name="submit" value="Search">Search</button>
    </form>
    {% if results %}
    <div>
        <h3>Results</h3>
        <div class="list-group">
            {% for result in results %}
            <div class="list-group-item">
                <h4 class="list-group-heading">
                    <a href="{{ result.link }}">{{ result.title }}</a>
                </h4>
                <p class="list-group-item-text">{{ result.snippet }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}