{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}Login{% endblock %}
{% block body_block %}
<link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
<div class="jumbotron">
    <h1 class="display-3">Login</h1>
</div>
    <form class="form-signin" role="form" method="POST" action=".">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        {% if form.non_field_errors %}
            <p>{{ form.non_field_errors }}</p>
        {% endif %}
        <label for="inputUsername" class="sr-only">Your username</label>
        <input type="text" name="username" id="id_username" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPasword" class="sr-only">Your password</label>
        <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required><br />
        <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
    </form>
Not a member? <a href="{% url 'registration_register' %}">Register</a>
{% endblock %}