{% extends 'rango/base.html' %}
{% block body_block %}
    <h1>Password change</h1>
    <form method="POST" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Change">
    </form>
{% endblock %}