{% extends 'rango/base.html' %}
{% block body_block %}
    <h2 class="form-signin-heading">Register here</h1>
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <form role="form" method="POST" action=".">
        {% csrf_token %}
        <div class="form-group">
            <p class="required">
                <label class="required" for="id_username">Username:</label>
                <input type="text" class="form-control" id="id_username" maxlenth="30" name="username">
                <span class="helptext">
                    Required. 30 characters or fewer. Letters, digits, and @/./+/-/_ only.
                </span>
            </p>
            <p class="required">
                <label class="required" for="id_email">Email:</label>
                <input type="email" name="email" id="id_email" class="form-control">
            </p>
            <p class="required">
                <label class="required" for="id_password1">Password:</label>
                <input type="password" name="password1" class="form-control" id="id_password1">
            </p>
            <p class="required">
                <label class="required" for="id_password2">Password:</label>
                <input type="password" name="password2" class="form-control" id="id_password2">
                <span class="helptext">
                    Enter the same password as before, for verification.
                </span>
            </p>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}